[2020-05-24 13:21] filipesmedeiros opened #3 "Tutorial video is broken"
Hey! I'm very interested in this, would it be possible to make the video available? Thanks!

[2020-05-26 07:58] boazpoolman commented on #3
Hi @filipesmedeiros, the video has been fixed. Thank you for your issue submission :)

[2020-05-26 07:58] #3 closed

[2020-05-28 13:26] skemp42 opened #4 "Unable to generate sitemap when collection names have a space"
I am currently unable to generate the sitemap if my collection name has a space (We have done this for it to be human readable on the CMS itsself, annoyingly strapi does not allow for seperate display and data names..)

This is an example of a collection model that does not work:

`{
  "kind": "collectionType",
  "connection": "default",
  "collectionName": "help_article",
  "info": {
    "name":

[2020-06-24 13:36] mattwcole commented on #4
I was able to fix this by looking up the model name of the content type before querying strapi. [Change here](https://github.com/boazpoolman/strapi-plugin-sitemap/compare/master...mattwcole:content-type-names) - let me know if you want me to put up a PR.

[2020-06-24 21:45] boazpoolman commented on #4
Thanks @mattwcole, your fix seems to work. Though the real issue here is that the collection name gets stored in the settings instead of the model name. I've fixed this in the front- and back-end, and used your fix for backward compatibility. See PR.

[2020-06-24 21:48] #4 closed

[2020-06-25 10:43] mattwcole opened #6 "Support URLs containing slashes"
Currently the plugin assumes that all Strapi pages are at the root of the site. URLs like `https://my-site.com/articles/my-strapi-article-1` are not supported because the UID field used in the sitemap doesn't allow slashes. Custom entries have the same problem. I had a go at a solution [here](https://github.com/mattwcole/strapi-plugin-sitemap/commit/ac03b821ff1e106fb44aaa603c9aa059de35d4e4) that a

[2020-06-25 11:23] boazpoolman commented on #6
This looks great. I was kind of hoping that this 'prefix' feature would be added to the UID field type directly. Nonetheless this adds a lot of value to the plugin. I'll test it out. Could you create a PR?

[2020-06-25 11:40] mattwcole commented on #6
Agreed it would be more useful to allow this in UID field. I've put up a PR, feel free to amend as needed.

[2020-06-26 23:49] boazpoolman commented on #6
I made a couple of changes, most primarily:
- The regex for the custom entry slug field allows '/', which makes the area field here redundant.
- The area field is now an InputUID component (just like slug) to prevent incorrect input.
See https://github.com/boazpoolman/strapi-plugin-sitemap/pull/9

[2020-06-30 08:57] mattwcole commented on #6
Nice job, thanks for fixing. The only issue I see with making the area field a UID too is if a URL path needs multiple slashes eg `https://my-site.com/articles/help/my-strapi-help-article1` (probably more likely for custom entries). Not my use case though, so this fix should unblock us.

[2020-07-01 20:33] boazpoolman commented on #6
That should not be an issue anymore because I've altered the regex of the UID field to allow slashes.
That said: I want to add a couple more things before making a new release to npm. Next release will likely be somewhere at the start of next week.

[2020-07-11 17:44] boazpoolman commented on #6
Fixed in v1.1.2 (https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/1.1.2)
Thanks for the work :)

[2020-07-11 17:45] #6 closed

[2020-07-30 19:24] niekfrontmen opened #10 "Plugin configuration not available in Strapi 3.1.1 and 3.1.2"
### Version
Strapi 3.1.1 & 3.1.2

### Steps to reproduce
- Install plugin, delete `build` and `.cache` folders and run `yarn build --clean`
- Clean browser cache

### What is Expected?
The plugin should be listed in the Admin Dashboard

### What is actually happening?
It's not showing so you cannot configure the plugin

<img width="1915" alt="Screenshot 2020-07-30 at 21 15 00" src="https://user-im

[2020-07-30 19:32] #10 closed

[2020-07-30 19:34] niekfrontmen commented on #10
Thanks!

[2020-07-30 19:38] boazpoolman commented on #10
Haha, thank you for your issue submission! I actually fixed this yesterday, but had yet to make a release. Just did. See version [1.1.3](https://www.npmjs.com/package/strapi-plugin-sitemap/v/1.1.3)

[2020-07-30 20:05] niekfrontmen commented on #10
Just tested it, works like a charm ;)
Thanks again!

[2020-09-16 18:46] DaTurboD opened #12 "Area/Path for collections can not be set individual"
Each time i am changing the area/path for a collection type it's going to be changed for every other collection also which means i can not set individual areas/paths.
Tried already reinstalling the plugin but it seems like the "config file" isn't removed that way.

[2020-09-17 07:26] boazpoolman commented on #12
Thanks @DaTurboD for reporting this issue, I'll look into it tonight 👍

[2020-09-17 16:39] DaTurboD commented on #12
Just found out it's still working and generating the right paths, but it isn't showing them on the input fields.
In each input field it shows the value which was last saved.

[2020-10-05 11:50] boazpoolman commented on #12
@DaTurboD This should now be fixed in v1.1.4.
https://www.npmjs.com/package/strapi-plugin-sitemap/v/1.1.4

[2020-10-08 07:00] #12 closed

[2020-11-03 20:07] AlexDede opened #14 "Exclude draft entries from sitemap"
Strapi supports Draft & Publish and will be good if this plugin can exclude all Draft entries from sitemap

[2020-11-06 20:31] #14 closed

[2020-11-06 20:40] boazpoolman commented on #14
Thanks @AlexDede for your issue submission.
I've added a new setting to exclude all drafts in v1.2.0
See [https://www.npmjs.com/package/strapi-plugin-sitemap/v/1.2.0](https://www.npmjs.com/package/strapi-plugin-sitemap/v/1.2.0)

[2020-11-29 14:24] SalahAdDin opened #17 "Some collection types are not been render in the sitemap"
I'm using this plugin at a sitemap in my site, but I get a bug:

I set all collection types in the settings:
![Screen Capture_select-area_20201129164905](https://user-images.githubusercontent.com/5034215/100544358-22fd2300-3266-11eb-8746-1f4f554b4d1a.jpg)

As can be seen, both Tags and Categories are collection types with a valid UID field(slug), but, navigation to the site map, we get this:
[code

[2020-12-01 17:20] boazpoolman commented on #17
Hi!
Thank you for your issue submission.
I also believe this is an issue with the exclusion of drafts.
It seems as though when a collection type does not use the native draft/publish feature it will exclude all the entries.
To you, and others experiencing this issue, I say: turn off the 'Exclude drafts' setting in the plugin for now. I think this will temporarily fix the issue.

Sadly I am current

[2020-12-01 19:18] SalahAdDin commented on #17
Sadly, I'm building the URL based on the id, since the id is unique ever, I trust it to build unique URLs; as the collection type is "projects", I don't think it would be required to use _slug_ in this case, just keeping it simple.

Thanks for your response.

[2021-01-10 20:24] boazpoolman commented on #17
This issue should now be fixed. See release [v1.2.3](https://www.npmjs.com/package/strapi-plugin-sitemap/v/1.2.3)

[2021-01-10 20:24] #17 closed

[2021-01-11 17:23] SalahAdDin commented on #17
@boazpoolman Yes, it solver it, thank you very much. But it still ignores non `uid` fielded content types.

[2021-01-11 18:08] boazpoolman commented on #17
@SalahAdDin This plugin is by design an integration of the UID field type. Rewriting it to allow all field types would require a lot of work, and also I am of the opinion that only "seo-friendly" URLs should be used in a sitemap, instead of ID based URLs. These URLs are (as the name would suggest) SEO friendly, an that is what a sitemap is for anyways; to improve your SEO.

I will create another i

[2021-01-11 18:23] boazpoolman opened #19 "Use of non UID type field"
This plugin has been written to use UID type fields as URLs to build the sitemap xml.
Potentially we could use a non UID field as (part of the) URL, to use the ID field for example.

This is kind of an interest check. If this is something you would like to see, let me know in this issue.
If this is highly requested I will update the plugin.

[2021-01-11 18:23] boazpoolman commented on #17
@SalahAdDin See issue #19

[2021-01-11 18:28] SalahAdDin commented on #17
@boazpoolman Thanks.

[2021-01-14 10:38] alanaasmaa opened #20 "Error: Cannot read property 'attributes' of undefined"
I am receiving  `Cannot read property 'attributes' of undefined`  when I click "Add" or "edit"
![image](https://user-images.githubusercontent.com/12788337/104578831-e0e83f00-5663-11eb-94d8-29c1fe24ff14.png)

Both of collections have UID field. I'm also new to strapi so I might do something wrong. Using latest version.

EDIT: Also reciving error when deleting all and pressing "add 1 by 1"
![image](

[2021-01-14 10:50] boazpoolman commented on #20
Thank you for your issue submission!
If you could give me the following information I will take a look at it:
- Version of Strapi
- Version of sitemap plugin
- A JSON dump of plugin_sitemap_settings found in the core_store table of your database

[2021-01-14 17:13] Fufuxx commented on #20
Having the same issue since upgrade to strapi `3.4.1`.  Plugin is version `^1.2.2`.

[2021-01-14 17:17] Fufuxx commented on #20
Not sure about Json dump but that's what on the table on plugin_sitemap_settings key:
[code]

[2021-01-14 18:14] alanaasmaa commented on #20
Strapi version: 3.4.3
Sitemap version: 1.2.3
I'm not at office currently so I can give you dump later.

[2021-01-14 19:18] boazpoolman commented on #20
This will suffice, thank you.
I will take a look at it.

[2021-01-14 21:56] boazpoolman commented on #20
I've created a PR.
Can you confirm that it fixes the issue?
You can test it in your project like so:

`yarn add boazpoolman/strapi-plugin-sitemap#pull/21/head`
`npm install boazpoolman/strapi-plugin-sitemap#pull/21/head`

[2021-01-15 08:09] Fufuxx commented on #20
Yep works for me locally ! Thanks a lot for looking into it, and for this cool plugin. Really handy to get the Sitemap sorted :)

[2021-01-15 20:00] #20 closed

[2021-01-15 20:10] boazpoolman commented on #20
No worries!
The fix is released in version [1.2.4](https://www.npmjs.com/package/strapi-plugin-sitemap/v/1.2.4)

[2021-05-04 11:57] boazpoolman opened #22 "Multilingual support"
With the release of Strapi 3.6.0 we are now able to translate our pages.
Multiple languages means multiple URLs.
We should implement this throughout the sitemap based on Google's guidelines: [Multilingual sitemaps](https://developers.google.com/search/docs/advanced/crawling/localized-versions#expandable-3)

[2021-05-14 21:01] boazpoolman commented on #19
Regarding the inclusion of relationship fields in the URL I'd suggest for now at least we also only allow the ID and UID type fields of the relationship. This way we will ensure the URL will consist only of fields which are actually usable in a URL (no spaces e.g.).

[2021-08-08 21:21] tjrexer opened #25 "Does not work with Container hosted instances"
@boazpoolman awesome job, really great plugin.  I'm running into a problem with hosting it in a container though.  Most of the plugins for strapi get added to either `/api` or `/extensions`, but this one doesn't.  I suspect that it is saving everything under the local node_modules folder?  This then becomes an issue when packaged since the routes added to save configs don't get packaged, so you ca

[2021-08-10 06:27] boazpoolman commented on #25
Hey @tjrexer!
Thank you for your issue submission.

As you stated; once downloaded this plugin wil be stored in de node_modules folder of you Strapi instance.
Though I'm unsure what you mean by hosting it in a container. Do you mean a docker container? With the strapi/strapi docker image?

Also as far as I'm concerned any community plugin you'd download will be stored in the node_modules folder. D

[2021-08-14 11:51] boazpoolman commented on #19
This is now in the develop branch, will be released with the next minor/major release.
You are able to test this like so:

`yarn add boazpoolman/strapi-plugin-sitemap#develop`
`npm install boazpoolman/strapi-plugin-sitemap#develop`

[2021-08-14 16:30] tjrexer commented on #25
When writing my reply, started to dig a little more into my setup.  Turns out I didn't have nginx set up correctly.  I didn't realize that the plugin added new api paths that needed to be added to proxy settings, thought it worked within the existing `content-manager` paths.

With regards to the `strapi/strapi docker` setup, you are correct, that is what I was referring to.  Storing in `node_modul

[2021-08-14 16:50] boazpoolman commented on #25
Ah allright, I think I get the issue.

To answer your question: the settings of this plugin are stored in de `core_store` table of your database.
The contents of this table can not be migrated across environments by default in Strapi.
So you would manually have to do the changes in the admin UI again in your docker env, or copy the contents of the `core_store` table and paste them in the database

[2021-08-14 17:36] tjrexer commented on #25
Yea, it does, thanks.  I only have one environment, so the `core_store` table works for me, but would probably be good to add information about both the NGINX config & your `config-sync` plugin to the README in case anyone else runs into the same problem.  Might be good to cover it as an advanced setup.

[2021-08-14 17:36] #25 closed

[2021-11-20 10:22] marieqg opened #45 "404 when trying to access the settings"
Hello,
First time I'm using the plugin and I'm struggling with it.
I have a 404 when I try to go to the plugin settings

<img width="1559" alt="Capture d’écran 2021-11-20 à 11 16 51" src="https://user-images.githubusercontent.com/48214496/142722885-61432b8a-457e-4fc6-9767-79a752febd74.png">

I'm using an old version of strapi :     "strapi": "3.0.0-beta.20",
Not sure it's supported ?

Also not s

[2021-11-20 11:38] boazpoolman commented on #45
Hi @marieqg,
The latest version of this plugin (1.2.5) supports Strapi 3.4.0 and higher.

I would recommend updating to the latest version of Strapi (3.6.8) not only for this plugin but also to future proof your application!

If you don't want to do that you could manually change the settings in your database. These are located in the core_store table of your database with the key sitemap_plugin_s

[2021-11-20 11:56] marieqg commented on #45
@boazpoolman , thanks for your reply. I was also thinking it was a version project. I know I should update to the last version, but I've already spent a lot of extra time the project and not sure I can spend more on the version change.
Thing is everything in my database seems to be ok and I'm still not generating the sitemap
<img width="1004" alt="Capture d’écran 2021-11-20 à 12 54 10" src="http

[2021-11-20 12:15] boazpoolman commented on #45
Yeah those are the settings!
If you configure the contentTypes like you had here: https://user-images.githubusercontent.com/48214496/142723070-9175bb42-1fd3-4ec7-bb7b-fca895928669.png and set the hostname of your website I think you might be able to generate the sitemap by calling the service manually

[2021-11-22 18:37] Hedg0305 opened #46 "Develop Branch compatibility"
Hi, I'd like to leave you a question, is the development branch compatible with the Strapi v3.6.X?
I'm asking it because as I installed it, there were some dependencies that my project didn't have such as the @strapi/helper-plugin, and after installing these dependencies and building the project again, it didn't open, so, is this branch only available for versions >v4?

[2021-11-22 18:49] boazpoolman commented on #46
Hey @Hedg0305,
You guessed it right; the develop branch is the migrated plugin for Strapi v4. For Strapi v3 please refer to the master branch, or the latest npm release (1.2.5).

[2021-11-24 13:33] Hedg0305 commented on #46
Hey @boazpoolman, yesterday I was running some tests in the Strapi v4 and installed your plugin to test the sitemap with localizations, but I o don't know if it has what I was looking for.
This is the scenario:
The site that I'm working on has multiple domains, but I didn't find a way to configure it in your plugin, so I'd like to ask you if it's possible to configure it in the current version of

[2021-11-24 15:44] boazpoolman commented on #46
Hey @Hedg0305,
So if I understand correctly you want to generate multiple sitemaps, each with a different hostname?
This is a feature that is not implemented yet. You can only generate 1 sitemap as of now.

I have been thinking about allowing to setup multiple sitemaps for multiple domains. But as multi domain is not natively supported in Strapi, I have yet to figure out a good way to implement th

[2021-11-24 16:07] Hedg0305 commented on #46
I query the content according to the domain with the help of NextJS i18n locales.
Next allows you to configure a default language to each domain and then with this language I can make a query at Strapi to get the correct content.

[2021-11-24 16:25] boazpoolman commented on #46
Okay, so if I understand correctly;
This is one website, but each locale is hosted on a different domain?

Like
[code]

[2021-11-24 16:31] Hedg0305 commented on #46
Yep, that's it.

[2021-11-24 16:33] boazpoolman commented on #46
Allright. Let me do some research on this.
Easiest solution would be to allow you to set a different hostname for each language (which is not yet possible in th plugin).
But as far as I'm concerned multiple domains in one sitemap.xml is a no-go according to Google.

I'll get back to you on this.

[2021-11-24 16:36] boazpoolman commented on #46
In the meantime; is there a specific reason you would not host your websites with the locales on a subpath, instead of subdomain?

Like:
[code]

[2021-11-24 16:40] Hedg0305 commented on #46
The website is already made, but they used to use an old CMS called EZ + PHP, and I'm working on the migration to Strapi + NextJS and their request was to keep the old URL system.

[2021-11-24 16:46] boazpoolman commented on #46
Makes sense.
Again; I'll do some research and get back to you.

[2021-11-24 16:51] Hedg0305 commented on #46
You're welcome.
And your plugin is working nicely, good job. 😁

[2021-11-24 17:19] boazpoolman commented on #46
Seems like it is possible to add multiple domains/subdomains to one sitemap.xml.
Source: https://developers.google.com/search/docs/advanced/sitemaps/large-sitemaps?hl=en&visit_id=637733707241955803-3025162350&rd=1#manage-sitemaps-for-multiple-sites

You might need to make sure you verify ownership for each domain in Google Seach Console.
But other than that this might work!

[2021-11-24 21:00] julesrenaud commented on #19
I think any field should be allowed, not just the ID or a field with type UID. When using i18n the UID field type is problematic if used as a slug system because a slug can then only be used once. Sometimes the same slug needs to be used for multiple separate locales (e.g. /en/contact in English and /fr/contact in French). I think it's resonable to assume any field used as a slug will be properly

[2021-11-25 13:44] Nik96i opened #47 "add trailing slash"
hi, I want to add a trailing slash at the end of my routes.
how can I do that? thanks.

[2021-11-25 13:46] boazpoolman commented on #47
Hi @Nik96i,
Why would you want to add a trailing slash?

[2021-11-25 14:46] Nik96i commented on #47
my website use trailing slashes. and if I use non-slash URLs all URLs would be redirected with 301 to slash version.

[2021-11-25 14:51] boazpoolman commented on #47
Allright, seems like a fair suggestion.
I'll allow using trailing slashes in the pattern of a URL bundle.
Will be released with v2.0.0 of the plugin :)

[2021-11-27 13:35] boazpoolman commented on #46
@Hedg0305 I added this feature to the develop branch.
Could you test it out in your local environment?

[2021-12-09 21:48] boazpoolman commented on #19
Released in [v2.0.0](https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/2.0.0) for the Strapi v4 version of `strapi-plugin-sitemap`.

[2021-12-09 21:48] #19 closed

[2021-12-09 21:48] boazpoolman commented on #22
Released in [v2.0.0](https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/2.0.0) for the Strapi v4 version of `strapi-plugin-sitemap`.

[2021-12-09 21:48] #22 closed

[2021-12-09 21:48] #45 closed

[2021-12-09 21:48] boazpoolman commented on #46
Released in [v2.0.0](https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/2.0.0) for the Strapi v4 version of `strapi-plugin-sitemap`.

[2021-12-09 21:48] #46 closed

[2021-12-09 21:49] boazpoolman commented on #47
Released in [v2.0.0](https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/2.0.0) for the Strapi v4 version of `strapi-plugin-sitemap`.

[2021-12-09 21:49] #47 closed

[2021-12-09 22:49] pr0gr8mm3r opened #54 "Throws error when i18n plugin is not installed"
## Bug report

### Describe the bug

If I don't have the i18n plugin installed, the sitemap plugin throws the following error when I access the plugin page in the admin panel:
[code]

### Steps to reproduce the behavior

1. Setup a strapi instance without i18n plugin installed
2. Navigate to the sitemap settings
3. See error banner pop up and notice error in console output.

### Expected behavior

[2021-12-09 23:06] boazpoolman commented on #54
Thanks for the issue submission!
Fixed in `v2.0.1`

[2021-12-09 23:06] #54 closed

[2021-12-09 23:09] pr0gr8mm3r commented on #54
Wow, that was quick. Thanks!

[2021-12-21 01:58] gorkemyontem opened #57 "Unexpected token '.' error when deploying to GCP App Engine"
## Bug report

### Describe the bug

Hi there,
After I set up the sitemap plugin, I cannot deploy the code to the Google Cloud Platform App Engine.
This is the error I'm having.
[code]

Any Idea?

### System

- Node.js version: v14.17.2
- NPM version: 6.14.13
- Strapi version: 4.0.0
- Plugin version: 2.0.2
- Database: Postgres 13
- Operating system: Linux

[2021-12-21 08:59] boazpoolman commented on #57
Hi @gorkemyontem,

I'm not sure this is an issue with this plugin necessarily.
There at least is no `Unexpected token '.'` in the `strapi-server.js` file.

Could you provide the following information:
Did this work locally?
What is inside your `config/plugins.js` file?
Did you change any of the plugin settings?

[2021-12-21 10:55] gorkemyontem commented on #57
Hi @boazpoolman thanks for the quick reply.

It does work locally.  I didn't change the settings. My `config/plugins.js` file has another plugin's settings.
[code]

[2021-12-21 11:23] boazpoolman commented on #57
Allright.
Can you help me better understand the google upload provider.
I haven't used it myself.

In Strapi we have a `public` folder. Which is where the sitemap XML will be written to.
Is that public folder also hosted on google cloud storage? If so; I think that won't work with this plugin then.

[2021-12-21 11:58] gorkemyontem commented on #57
No no, it is actually just for media library. https://github.com/Lith/strapi-provider-upload-google-cloud-storage `basePath: 'uploads'` only cares about the upload folder. I don't expect the two plugin work together. Totally different workflows.

[2021-12-21 12:19] gorkemyontem commented on #57
I have commented out the `plugins.js` and then I have tried to deploy but the result was the same.

[2021-12-21 13:49] boazpoolman commented on #57
Gotcha. Thanks for the explanation.
I don't know what the issue here might be
Also it's hard for me to debug as I don't have Google cloud storage set-up.

If you happen to find a solution for it I'll be happy to merge it.

[2021-12-21 14:25] gorkemyontem commented on #57
Thank you for your help @boazpoolman. I will close the issue for now, I also think that this might be related to something else. I will write another comment if I find something for future references.

[2021-12-21 17:26] gorkemyontem commented on #57
In my `package.json` file my node settings was
[code]

  I have changed it to
[code]
It is solved. Don't ask me why:)

[2021-12-21 17:27] boazpoolman commented on #57
Hmm, interesting.
Maby the plugin doesn't support node 16.
I honestly don't know, but I'll do some testing later.

Happy it's resolved for you :)

[2022-01-10 13:56] drmayor2004 opened #59 "Go to the Sitemap navigates to Localhost instead domain server"
## Bug report

### Describe the bug
The Go to the Sitemap navigate to http://localhost:4000/sitemap/index.xml instead of the live domain

### Steps to reproduce the behavior

1. Go to 'Strapi Admin'
2. Click on 'Sitemap'
3. Click on 'Go to the Sitemap'
3. New Window is opened
4. Page navigates to http://localhost:4000/sitemap/index.xml

### Expected behaviour
The page should be navigated to https:

[2022-01-10 14:00] boazpoolman commented on #59
Hey @drmayor2004,

Thank you for the issue submission!

I was just wondering; have you specified the domain `admin.cgafrica.com` somewhere in Strapi?
Or is it specified at the server level? In a Apache, or Ngnix proxy.

[2022-01-10 16:11] drmayor2004 commented on #59
it is specified at the server level

[2022-01-11 18:30] AlexDede opened #60 "Feature request: an ability to use the same collection with different patterns"
## Feature request

### Summary

Can you add an ability to specify a few patterns for the same collection?

I have collection `products` and I want to have a few patterns for it. For example:

`/products/[id]`
`/products/[id]/another-slug-1`
`/products/[id]/another-slug-2`

### Why is it needed?

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Sugg

[2022-01-11 18:37] AlexDede opened #61 "Feature request: an ability to exclude last modification date from generated sitemap"
## Feature request

### Summary

Can you and a new option to `URL bundles` to exclude last modification date for collections.

### Why is it needed?

We have a pages on website that receive part of data from Strapi CMS and another part from our own API. In our case last modification date in  Strapi CMS is incorrect because our API updates data more frequently and we want to exclude last modificati

[2022-01-12 12:28] boazpoolman commented on #61
Hey @AlexDede

Thank you for the feature request.

Seems like a valid suggestion. I'll implement this.

[2022-01-12 12:33] boazpoolman commented on #60
Hey @AlexDede

Thank you for the feature request.
I just want to clarify a couple of things.

How do you want to use the multiple patterns for a single collection type?

- Have multiple URLs going to the same page
- Select which pattern to use for each collection entry

[2022-01-12 13:07] AlexDede commented on #60
Hey @boazpoolman

Thank you for the reply.

In my case I only need this for multi collection type. But I think that in some cases single collection type can be used for a few URLs on a site too (use different parts of data from single collection type).

In my case I need each pattern for each collection entry and I think it will be enough for first version of this feature. In the future maybe it i

[2022-01-12 13:29] boazpoolman commented on #60
So if I understand correctly; you would end up with multiple URLs in the sitemap which will go to the same page?

Like:
/products/1
/products/1/addition
/products/1/other-addition

Which all correspond to the same entry (id: 1) in Strapi.
And also all show the same page in your website.

Why would you want that?

[2022-01-12 14:05] AlexDede commented on #60
Not exactly. In our case all this pages will be related to the same product but will show different parts of information related to this product. For example:

/products/1 -> some general information about the product with id=1 (like name, image, description, etc.)
/products/1/specifications -> specification of the product with id=1 (like width, height, weight,  etc.)
/products/1/addition -> addit

[2022-01-13 09:51] boazpoolman commented on #60
Ah allright, I get it.

Let me think about this for a little.
Probably just allowing a collection type to be used multiple times in URL bundles does the trick.

[2022-01-13 22:35] drmayor2004 commented on #59
Just deployed the update in live mode and tested it. Issue resolved

[2022-01-14 08:22] boazpoolman commented on #59
Great :)

[2022-01-14 08:22] #59 closed

[2022-01-14 22:24] jkaplanis opened #62 "not able to add more field types to the allowedFields in config/plugins.js"
## Bug report

### Describe the bug

I am trying to add the 'text' field type to allowedFields, by adding 'text' to the allowed fields array in config/plugins.js. however the UI in Strapi does not update to make 'text' fields available in the dropdown.

### Steps to reproduce the behavior

1. Add the below code to config/plugins.js
`module.exports = ({ env }) => ({
  sitemap: {
    enabled: true,

[2022-01-14 23:19] boazpoolman commented on #62
Hey @jkaplanis,

Thanks for the bug report. I’ll do some testing with this.

[2022-01-15 12:18] boazpoolman commented on #62
Hey @jkaplanis,

Just noticed the version numbers in the issue. You’re using plugin v1.2.5 for Strapi v3.

The allowedFields config was introduced with plugin version 2.0.0 for Strapi v4.

Please refer to the node_modules/strapi-plugin-sitemap/README.md file in your project for the documentation of the plugin version you’re using.

[2022-01-15 12:18] #62 closed

[2022-01-20 10:58] talok commented on #57
Sorry to reopen this thread. I've found the problem. In the server/services/core.js file, the conditional chaining (?.) at line 62 and 100 is not supported by node v12 (I believe). Some extra settings might be needed.

[2022-01-20 11:02] boazpoolman commented on #57
@talok Did you have this issue as wel?
And did you confirm that your change (removing conditional chaining) fixes the issue?

[2022-01-20 15:50] talok commented on #57
@boazpoolman yes, i did. my node version is 12 and i fixed by just converting them to these.

line 62: `const hostnameOverride = config.hostname_overrides[translationEntity.locale] ? config.hostname_overrides[translationEntity.locale].replace(/\/+$/, "") : '';`
line 100: `const hostnameOverride = config.hostname_overrides[page.locale] ? config.hostname_overrides[page.locale].replace(/\/+$/, "") :

[2022-01-20 15:55] boazpoolman commented on #57
Thanks @talok.

I think we should use the `get` method of lodash for this.
Thats the "prettier" solution imo.

Do you want to contribute this fix?
Otherwise I'll add it as soon as I have some time.

[2022-01-20 16:45] boazpoolman commented on #57
Really got to get some integration tests running.
This kind of stuff shouldn't slip through the CI really.

[2022-01-25 17:38] ericta-portfolio opened #64 "URL Bundles not generating for pre-existing collections."
## Bug report

### URL Bundles not generating for pre-existing collections.

On adding a URL bundle for a pre-existing collection that existed before plugin installation, links are not generated. Links are only generated for new entries made after installation. Duplicating pre-existing content does not generate a link either.

### Steps to reproduce the behavior

1. Create Strapi instance
2. Creat

[2022-01-27 09:50] boazpoolman commented on #64
Hey @ericta-portfolio

Thank you for the issue submission!

I've fixed this in PR #65.
Could you test it out in your project?

[code]

[2022-01-27 18:27] ericta-portfolio commented on #64
Thanks! The pr seems to have fixed the bug where collections made before plugin installation didn't show!

Though, the bug where you have to re-save the individual content for it create the proper URL still persists.
More explanation:
1. You make and populate (with 5 items) Collection "Events" with UID field "eventsUID"
2. Install Plugin
3. URL Bundle for "Events" with pattern "/events/[eventsUID]

[2022-01-27 18:57] boazpoolman commented on #64
Okay! One step closer.
I’ll check out the other bug you’re describing.

[2022-01-28 21:41] boazpoolman commented on #64
Hey @ericta-portfolio

I tried to reproduce what you're describing but I wasn't able to.
If I follow your steps, at step 4 I'll see all the URLs correctly added to the sitemap.

[2022-02-02 14:16] boazpoolman commented on #64
@ericta-portfolio are you sure there is not some other reason this might be happening?

The initial problem where pre-existing records are not included is fixed with the PR.
Having the URL's in there but without the UID has to be related to something else.

[2022-02-02 18:24] ericta-portfolio commented on #64
Whoops sorry, didn't see the notification for your last response.

Hmm I'm not sure, it could be something else on my end then.
Overall, the plugin works perfectly for me now after I edited+saved the posts that didn't have the [uid] fields appear.

[2022-02-04 11:23] Sgubela commented on #61
@boazpoolman Can you give us update about this feature?

[2022-02-04 12:29] boazpoolman commented on #61
@Sgubela the update I can give is that I will implement this. It’s still a couple weeks out due to the lack of time I have for this project.

My best guess would be, by the end of the month.

[2022-02-05 16:16] SalahAdDin commented on #19
@boazpoolman so, right now we can use `slug` for create the sitemap, right?

[2022-02-05 16:25] boazpoolman commented on #19
Hey @SalahAdDin

In strapi-plugin-sitemap ^2.0.0 you can use URL patterns.
In the pattern you can inject dynamic values.
Those can be ID's, UID's or any other field type.

See documentation here:
https://github.com/boazpoolman/strapi-plugin-sitemap#-url-pattern

[2022-02-10 16:43] laurent-malvert-freelance opened #66 "Feature Request: Add support for sitemapindex"
## Feature request

### Summary

Please add support for the `sitemapindex`.

### Why is it needed?

We generally split our sitemaps using a global sitemap index, which loads the site's sub-sitemaps.

This makes it easier to request a re-indexing from search engines, and allows to combine the sitemap of a global site from different sub-site.

### Suggested solution(s)

For instance, instead of the

[2022-02-11 11:57] boazpoolman commented on #66
Hi @laurent-malvert-freelance,

Thank you for the excellent feature request.

To implement this I think the plugin will need a big rewrite.
As of now you can only create one sitemap.
To implement this you have to be able to create multiple sitemaps.
Then those sitemaps should be able to be added to sitemap indexes.

When I have the time I'll make the efforts to build this.

[2022-02-12 18:21] boazpoolman commented on #64
Allright, thanks for the input @ericta-portfolio.

I've released the PR with version v2.0.6.

[2022-02-16 02:28] SubZtep commented on #3
Is the video link still available somewhere?

[2022-02-16 10:40] boazpoolman commented on #3
@SubZtep it’s not. I’ve removed it completely to save on package size a while back.

If you want I can help you set up the plugin.

[2022-02-20 18:18] krabbi opened #69 "Remove filter by `published_at` if `Exclude drafts: false` to properly works on collections with turned off Draft/Publish"
## Bug report

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1) Create a collection with turned off Draft/Publish system on collection.
2) Try to generate sitemap on that collection

### Expected behavior

Sitemap is generated

### Actual behavior

Error in console
<img width="1272" alt="image" src="https://user-images.githubusercon

[2022-02-20 19:00] boazpoolman commented on #69
Thanks for reporting @krabbi!

I’ll write up te fix.

[2022-02-28 05:00] SubZtep commented on #3
No thanks, it's fine, I just couldn't find the generated XMLs, but it's sorted.

[2022-03-05 12:21] SoftCreatR opened #71 "Pattern contains forbidden fields"
Same issue as in #62

Strapi version: 4.1.2
Plugin version: 2.0.6

Configuration:

[code]

However, it only suggests the `id` field, and when trying to use something else, an error message pops up, saying "Pattern contains forbidden fields":

![image](https://user-images.githubusercontent.com/81188/156882880-9945f656-b20f-4f43-958d-1348432e597a.png)
![image](https://user-images.githubusercontent.c

[2022-03-07 09:26] boazpoolman commented on #71
Hi @SoftCreatR

That indeed does seem strange.
Can you confirm that your `Article` CT actually has one or more fields of the `uid` or `text` type?

Maby send paste the schema.json of the CT here.

[2022-03-07 09:31] SoftCreatR commented on #71
[code]

I also tried `string` instead of `text`, but no success.

[2022-03-07 09:33] boazpoolman commented on #71
Hmm, in this case `string` would indeed be the correct type to add.

And just to confirm; after you added the plugin config `allowedFields` you restarted your Strapi instance?

[2022-03-07 09:34] SoftCreatR commented on #71
Multiple times since then :) I even re-built and restarted it, before answering here.

[2022-03-07 09:36] boazpoolman commented on #71
Allright! Thanks for the additional info.

I'll mark this issue as `bug`.
As soon as I plan some time to work on the plugin I'll be sure to pick this up!

[2022-03-07 09:42] SoftCreatR commented on #71
Follow up: Just checked the network tab in the browser, and this is what I found:

GET /sitemap/pattern/allowed-fields/

[code]

[2022-03-07 09:45] boazpoolman commented on #71
Allright. So while we're getting technical; that request is hooked up to this service:
https://github.com/boazpoolman/strapi-plugin-sitemap/blob/master/server/services/pattern.js#L14

You could try and debug that file in the `node_modules` folder of your project.
Try logging the config, or the content type. Maby you can find the bug 🤷

[2022-03-07 10:14] SoftCreatR commented on #71
`strapi.config.get('plugin.sitemap.allowedFields')` doesn't seem to use the settings in `config/plugins.js` but the settings from the [default config](https://github.com/boazpoolman/strapi-plugin-sitemap/blob/master/server/config.js).

[2022-03-07 10:16] boazpoolman commented on #71
Ah! I see it.

Your config:

[code]

Which should be:

[code]

[2022-03-07 10:22] SoftCreatR commented on #71
Meh... I should read better 😄 Thank you very much, it works now (after changing `text` to `string` ^^)

Just wondering: Wouldn't it be easier/more intuitive to use the field names, instead of their types?

[2022-03-07 10:22] #71 closed

[2022-03-07 10:39] boazpoolman commented on #71
@SoftCreatR great!

Field names would maby be more intuitive, but it's not very scalable.
Right now you can use the plugin without setting any config by using fields of type `uid` or `id`.
If you have to set the field names that would be an extra installation step before you can use the plugin.
Because field names are variable.

[2022-03-07 10:41] SoftCreatR commented on #71
But Id and UID (as names) are available by default, aren't they? At least the Id field exists on every object, from what I can tell.

[2022-03-07 10:46] boazpoolman commented on #71
`id` and `uid` are available _as types_ by default.
But a `uid` field named "my-weird-url-field-name" would not be available by default if I were to use the field names instead of field types.

The `id` is kind of an exception, because the user can't name the `id` field themselfs.

[2022-03-15 16:57] tmclouisluk opened #73 "Generate double loc item & miss some of the links in sitemap"
## Bug report

### Describe the bug

I found that there is some links missed and double generate links in sitemap. Links are generated by URL Bundles

![a](https://user-images.githubusercontent.com/18186155/158430834-c1f74ecc-67e0-432f-ba89-bd75b82bc67a.PNG)

### Settings

URL Bundles
![2](https://user-images.githubusercontent.com/18186155/158430878-eb6aeb10-006f-46dc-a1cc-6eae363f4f3b.PNG)

In `c

[2022-03-16 17:40] boazpoolman commented on #73
Hey @tmclouisluk

Thanks for the issue submission.
I haven't seen this issue myself before.

Can you confirm that your PR (#74) fixes the issue?
I can't seem to understand why. Please elaborate.

[2022-03-17 13:39] tmclouisluk commented on #73
I found that strapi query will pick id randomly if you don't order it yourself. Therefore, in my case, since I have more than 100 items in URL Bundles, it will divide the links into parts. If picking id randomly, there will be some duplicated. That's the reason my bug happened.

Hence, I just put orderby id simply in core.js. Then it works right now :)

[2022-03-28 17:34] oberkayb commented on #69
yes i have the same problem if you could check it would be great 🎈

[2022-04-05 20:02] boazpoolman commented on #73
Thanks for the fix @tmclouisluk !

Released with [v2.0.7](https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/2.0.7)

[2022-04-05 20:02] #73 closed

[2022-04-05 20:03] boazpoolman commented on #69
Released with [v2.0.7](https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/2.0.7)

[2022-04-05 20:03] #69 closed

[2022-04-05 20:03] boazpoolman commented on #57
Released with [v2.0.7](https://github.com/boazpoolman/strapi-plugin-sitemap/releases/tag/2.0.7)

[2022-04-05 20:03] #57 closed

[2022-04-05 20:05] boazpoolman commented on #61
I've added a checkbox with which you can opt-out of the lastmod.
It is true by default and can be unchecked to exclude the lastmod from the sitemap.

<img width="922" alt="Schermafbeelding 2022-04-05 om 21 41 08" src="https://user-images.githubusercontent.com/9551934/161839875-664ef04d-f5d9-449c-b0eb-6f12e658de9a.png">

Released with [v2.0.7](https://github.com/boazpoolman/strapi-plugin-sitemap/re

[2022-04-05 20:05] #61 closed

[2022-04-21 17:05] boazpoolman opened #78 "Pattern: relations array"
## Feature request

### Summary

As of #75 you can add relation fields to the URL pattern like so:

[code]

Though this only works for single relations. If the `relation` would be of target `*ToMany` we wouldn't know which entity to query exactly.

### Suggested solution(s)

We should allow the pattern to be written like this to select a specific item of an array of relations.

[code]

Here we wou

[2022-04-21 20:57] boazpoolman opened #79 "Use gzip for compression"
## Feature request

### Summary

Serve a compressed `sitemap.xml.gz` file.

### Why is it needed?

When you have large sitemaps the file size increases. It's best to compress this according to the documentation of https://github.com/ekalinin/sitemap.js

[2022-04-21 21:13] boazpoolman opened #80 "Surgical URL injection / Caching"
## Feature request

### Summary

When you have the `autoGenerate` setting enabled and you update a piece of content, all the pages that should be included in the sitemap are queried and afterwards added to the sitemap. If you have a larger sitemap is could be a big performance issue.

### Why is it needed?

It is probably best to only update the URL of the page you have just created, edited or del

[2022-04-24 03:40] kibblerz commented on #78
So I did come up with a more optimal way to solve this. This method should also open the door for greater customization and resolution of other niche cases:

We could add a way where a custom "resolver" could be injected from the plugins config. I haven't implemented it yet, but it is a promising solution IMO. That way, user's can override the default resolution. We'd just pass in the relevant rec

[2022-04-24 07:18] boazpoolman commented on #78
That does sound promising !

Just so we're on the same page. You mean you would write some plugin config to register for example `my-key`. Which can be any value you assign to it.

So that we can then create a pattern like: `/test/[id]/[my-key]`.

Did I get that right?

[2022-04-27 13:29] Henrixounez opened #82 "Clearer explanation of the Allowed fields"
## Feature request

### Summary

A clearer explanation of the Allowed fields in the Readme to explain that it is the type of the fields and not the field names

### Why is it needed?

At first I thought that this field was an array of the fields names instead of being their types, so I filled with the names that I wanted for the sitemap to be generated with.
When it didn't work, I searched through

[2022-04-28 06:35] boazpoolman commented on #82
Hey @Henrixounez,

You’re not alone in this.
I’ve had several people contact me through GH but also discord because they couldn’t make it work.

Couple things came to my mind to improve on this.

- Also allow fields of which it’s name is in the settings array. Basicly check for both type and name.
- Rename the setting to `allowedFieldTypes`.
- Better documentation in the README (as you suggested)

[2022-04-29 07:40] Henrixounez commented on #82
Hello @boazpoolman ,

Thank you for telling me that I'm not alone in having this problem, and I have to add that your plugin works extremely well when correctly configured ;)

On your improvement suggestions, the third one would be the best one short term. Explaining in more details or having a disclaimer indicating very obviously that it is indeed the types and not the names of the fields.

Then,

[2022-05-01 09:37] boazpoolman commented on #82
Hi @Henrixounez,

Thanks for the follow-up.

I've gone with the first solution; allowing _both_ field **types** and field **names** to be set in the `allowedFields` setting.
Don't see a reason why not to do it like this. [See commit](https://github.com/boazpoolman/strapi-plugin-sitemap/commit/bc731696ad90462e9112a0f5500e2b6746d3a100).

[2022-05-03 18:20] ShubhamDigole opened #83 "Error "Javascript heap out of memory""
## Bug report

### Describe the bug

can't see any notification of sitemap is generating when pressing the button there is no info that how much time it will take or its generating the sitemap

### Steps to reproduce the behavior

1. Go to 'sitemap plugin'
2. add URL bundle and save
3. and generate sitemap
4. you will see no notification is there that sitemap is generating

### Expected behavior

[2022-05-03 19:07] boazpoolman commented on #83
@webuilderkrish thanks for reporting this.

I can see the value in this.
How long does it generally take for you ti generate the sitemap?

[2022-05-04 04:17] webuilderkrish commented on #83
if there are custom URLs usually it takes few seconds but for dynamic URL I don't know because I am generating one but its not generating. i did wait for whole night but no sitemap

[2022-05-04 06:58] boazpoolman commented on #83
Thats not right.

How many pages do you have? Is it like 1000+?

Also; did you get any errors in the Strapi logs?

[2022-05-04 07:39] webuilderkrish commented on #83
i am working on a e-commerce website where I have like 4 lac merchants and 2 million products but i am was generating pages for only merchants still cannot create sitemap

and there is no error on strapi console

[2022-05-04 07:48] boazpoolman commented on #83
Allright. So that’s interesting.

I would like to keep in touch with you as I think you are the first to use this plugin with that many URLs. Let’s see how that works out.

For the current issue;
Do you see any javascript errors when you open up the dev tools in your browser?

[2022-05-04 09:36] webuilderkrish commented on #83
Sure I would be in touch with you.
and about the developer console, I am not getting any errors and one more thing when I was using an old version of strapi it was 3.6.8 and was working fine on that version but I have to update the new version and getting this issue

[2022-05-04 09:40] boazpoolman commented on #83
Allright, thanks!

And can you confirm if the sitemap file isn't silently written?
In the `public/sitemap/index.xml` location.

[2022-05-04 09:44] webuilderkrish commented on #83
yes i did check that it is showing old XML which i created with custom urls

[2022-05-04 09:50] boazpoolman commented on #83
Well, then I'm fresh out of idea's.

I feel like there should be some kind of error, somewehere.

[2022-05-04 09:53] webuilderkrish commented on #83
I am seeing no error in console or on the browser console.  how i can i find out error

[2022-05-04 09:55] boazpoolman commented on #83
Can you confirm (in browser network tab) that the /sitemap call finishes when you click generate?

The sitemap is also generated when you update a page of the collection type you added to the sitemap.
Can you try editing a page through the content manager?

[2022-05-04 10:54] webuilderkrish commented on #83
yes, the sitemap call is getting fired but no response is generating.

and when I am updating the entity it sends http://localhost:1337/sitemap/settings/ request

[2022-05-05 11:07] boazpoolman commented on #83
Hi @webuilderkrish

Wanted to quickly follow up on this.
I think we've gone through the default steps-to-reproduce questions.
Yet I've not been able to pin-point the source of the problem.

So the logical next step would be to do some debugging in the source code.

As you mentioned the `/sitemap` API call is fired but does not give you a response.
That API call excecutes [this service](https://git

[2022-05-05 11:25] webuilderkrish commented on #83
Okay I will debug the code and let you know

[2022-05-05 16:59] webuilderkrish commented on #83
hi @boazpoolman

I did debug all code I am getting the below error and my server is restarting.

![Screenshot from 2022-05-05 22-22-40](https://user-images.githubusercontent.com/25137297/166974530-c973b337-2376-4cb4-9ada-4029bf788f48.png)

[2022-05-06 06:56] boazpoolman commented on #83
So a `Javascript heap out of memory` issue it's then.

Also I see the log `fetched405390records`.
So I guess you're trying to build a really large sitemap?
Then it would make sense we get a memory issue.

BTW: were you able to pin-point the exact location in the `core.js` service where the memory issue occurs?
Because fetching the records seems to have worked, looking at your log.
So did the memor

[2022-05-06 11:55] vsychov opened #84 "Feature Request: Cloud-based sitemap storage"
Hello,

## Feature request

Thanks for you great work on this beautiful plugin.

For now plugin don't very support cloud-based deployments, and it's will be nice to have it, main problems:
- if we have multiple instance of strapi launched, there is no way to restrict only one of them to generate sitemap's (e.g. dedicated sitemap generator worker), it can be solved by some CLI command for generate

[2022-05-06 14:19] boazpoolman commented on #84
Hi @vsychov !

Thanks for the feature request.
I'm not too familiar with cloud-based deployments so I hope you don't mind me asking some follow up questions.

- The CLI we can easily create. Seems like a good suggestion. Though can you better explain to me how you would use that? Because right now the sitemap is generated on save of the pages in strapi with lifecycle methods.
- What do you mean wi

[2022-05-06 14:58] boazpoolman opened #85 "Progress indicator for sitemap generations"
## Feature request

### Summary

When you generate a large sitemap it can take some time. We should show some kind of progress indicator to show you the progress of building the sitemap XML.

### Why is it needed?

Because otherwise the developer is waiting for a long time and doesn't know what's going on.

### Suggested solution(s)

Some kind of progress indicator that shows you a percentage of h

[2022-05-06 15:02] boazpoolman opened #86 "Relational URL pattern"
## Feature request

### Summary

Allow querying relational fields in the URL pattern like `/prefix/[relation.slug_field]`.

### Why is it needed?
For better dynamic URL patterns.

### Related issue(s)/PR(s)

#75

[2022-05-06 15:36] boazpoolman commented on #82
Was released with `v2.0.8` :)

[2022-05-06 15:36] #82 closed

[2022-05-06 23:00] vsychov commented on #84
Hi @boazpoolman,

Probably I need explain my setup first [there is graphic schema](https://s.iee.workers.dev/2022/05/07/cf205192a4bd.png).
I'm using strapi inside docker image, that running in k8s cluster, as a [deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/).
I have multiple instances on strapi container and LB, that balance traffic between them. All data inside

[2022-05-08 13:57] webuilderkrish commented on #83
Hi @boazpoolman
did you see the above error and also I tried increasing memory size but still the same error.
just want to know the update on the above error since no update from the last two days it's just important for me to generate a sitemap as soon as possible.

thanks...

[2022-05-08 14:35] webuilderkrish commented on #83
Hi @boazpoolman
I deeply apologize for the late reply as I was busy with some work.
as above you see that I am fetching 4 lac records and these are just merchants i have another table of products where records are around 2.5 million for now and it's going to increase after some time to around 7.5 million

and about error I think i am getting this error in below code at core,js in services in `crea

[2022-05-08 15:35] boazpoolman commented on #83
Hey @webuilderkrish

I feel like you are fetching more records then you think. As your log from the error screenshot stated `fetched405390records`.

For now I can ask you to try the beta version of the plugin. In the beta version the plugin will create a paginated sitemap index of sitemaps containing more then 45.000 records. It’s worth a try.

You can install beta like this `yarn add strapi-plugi

[2022-05-08 15:37] webuilderkrish commented on #83
thanks for the update i will use the beta version and let you know the response

[2022-05-08 17:03] webuilderkrish commented on #83
Hi,
Tried Beta Version but still getting the same error

[2022-05-08 17:12] boazpoolman commented on #83
Allright. Thanks for trying at least.

All I can do for you now is create a test Strapi app with 500k records and trying to add them to the sitemap, hoping I will get the same error as you so I can do some debugging.

Sadly I don’t have time for that anytime soon. So until then I can only encourage you to debug the plugin yourself. Try to optimize the code so you won’t get this error.

Sorry I can

[2022-05-08 17:17] webuilderkrish commented on #83
Thanks for the support I will debug the code and try to find the solution thanks for your time.

but please try to fix this bug as you get the time.

Thanks for the support...

[2022-05-08 17:59] boazpoolman commented on #83
I will, once I have the time.

If you make any progress on this feel free to reach out!

Btw; for future reference; do you have localizations enabled in your Strapi app?

[2022-05-09 06:32] boazpoolman opened #87 "CLI to generate sitemap from the command line"
## Feature request

### Summary

Have a `strapi-sitemap` CLI with a `generate` command so you can generate the sitemap XML from the CLI.

### Why is it needed?

This is useful when using a loadbalancer with multiple Strapi instances.
Generating sitemap in each instance separately can cause problems (performance and race-conditions).

So when having a CLI you can disable auto generation and have a

[2022-05-09 06:57] boazpoolman commented on #84
@vsychov Thanks for the explanation. This makes it very clear.

1.
I've created a new issue #87 for adding the CLI

3.
I've created an issue in the config-sync repo for environment specific config [#55](https://github.com/boazpoolman/strapi-plugin-config-sync/issues/55).
I'm probably not going to allow setting the hostname in config for this plugin.
But I don't think this should be too big of an i

[2022-05-09 08:04] vsychov commented on #84
Thanks @boazpoolman, 3 is definitely not big issue.

Regarding 2:
unfortunately nodejs still don't have many filesystem cloud agnostics libs. But something like this nice lib can be used - https://github.com/tweedegolf/storage-abstraction/ for saving sitemap.

there is use example article from lib author: https://tweedegolf.nl/en/blog/38/clouds-without-shadows

[2022-05-09 08:07] boazpoolman commented on #84
I'll look in to this!

[2022-05-10 05:14] webuilderkrish commented on #83
after increasing the memory size i am getting below error
![Screenshot from 2022-05-10 10-42-51](https://user-images.githubusercontent.com/25137297/167547123-d48f94ec-cf8e-443f-8a04-983a0d27a2fc.png)

[2022-05-10 07:18] boazpoolman commented on #83
Hey @webuilderkrish

Allright, this is allready more verbose.
I've asked for a solution in the Strapi Discord and somebody pointed me to this issue:
https://github.com/strapi/strapi/issues/11860

Not sure if it fixes your issue.
But it's worth taking a look!

[2022-06-15 13:50] capsloq opened #89 "GCP / GAE Deployment: No wirteable filesystem"
## Feature request

### Summary

Deploying a strapi-plugin-sitemap project to Google App Engine does not work.
Did anyone got this plugin to work on a GAE?
From my understanding the GAE filesystem is read only. [For writing files Google Cloud Storage is recommended.](https://cloud.google.com/appengine/docs/standard/nodejs/using-third-party-databases) Therefore the plugin can not create nor write t

[2022-06-17 08:40] mrpharderwijk opened #90 "Plugin settings section not visible in Strapi v4.1.12"
## Bug report

### Description
Can't find/see the plugin settings in the admin panel after installation of the plugin, rebuilding en restarting. The plugin seems to be added and present in the plugins overview.

### Steps to reproduce the behavior

1. In the root of the Strapi folder install with npm `npm install strapi-plugin-sitemap --save`
2. Rebuild and restart Strapi in develop mode
3. Check

[2022-06-18 18:46] mrpharderwijk commented on #90
Nvm, after a few new rebuilds it started showing up in the left menu under the media-library option

[2022-06-18 18:46] #90 closed

[2022-06-21 20:11] mmondou commented on #84
Hi! Thanks for the plugin, it works great!

To continue the discussion on "Regarding 2", an example of the cloud provider implementation is the [AWS S3 Strapi plugin for the upload management](https://www.npmjs.com/package/@strapi/provider-upload-aws-s3). This feature is very useful when you have multiple instances/pods of the same repository deployed and when the user (or the crawler!) is redirec

[2022-06-25 11:58] stafyniaksacha opened #91 "Using no prefix (`/[slug]`) resolve to broken url"
## Bug report

### Describe the bug

When we use a pattern like `/[uri]` which can contain `/`, the resolved url does not contain the hostname

### Steps to reproduce the behavior

1. Go to http://127.0.0.1:1337/admin/plugins/sitemap
2. Add a URL Bundle with a pattern like `/[uri]`
3. Set a hostname in settings like `http://localhost:3000/` (or `http://localhost:3000`)
4. Save
5. Create an entity

[2022-06-25 12:07] stafyniaksacha commented on #91
Solved: using `[uri]` instead of `/[uri]` works like a charm!

[2022-06-25 12:07] #91 closed

[2022-06-26 10:45] boazpoolman commented on #91
Hmmm strange issue. But I’m glad you found a workaround 😄

[2022-06-26 20:45] boazpoolman commented on #84
Hi @mmondou

Yep! I think it makes most sense to hook into the Strapi upload provider to store your sitemap file.
If you have a cloud based upload provider set in Strapi then this plugin will upload the sitemap file there.
Wheter it's Google cloud or AWS S3, doesn't really matter then.

Though I don't have any time planned to work on implementing this feature.
If you, or anyone, would like to dedi

[2022-07-01 09:04] capsloq commented on #89
Yes its a duplicate of #84. I will post updates there. Thank you

[2022-07-01 09:04] #89 closed

[2022-07-22 13:54] Alexnortung commented on #86
Is it possible to make the population of relational fields recursive for example `/prefix/[relation.relation.slug_field]/[relation.slug_field]/[slug_field]`.

Also a feature for making deeply nested routes would be cool, such as `/prefix/[relation.slug_field*]/[slug_field]`, which would probably also require recusively populating fields.

Thanks for all the hard work you have put into this plugin

[2022-07-22 16:50] boazpoolman commented on #86
Yeah, making it recursive makes sense to me. Making it possible for you to go infinitely deep with the relation nesting.

Though this syntax I don't get `/prefix/[relation.slug_field*]/[slug_field]`.
What exactly are you querying with the `*` character?

[2022-08-01 13:36] TriPSs opened #92 "Generate sitemap when server boots"
## Feature request

### Summary

To generate a sitemap when the server boots

### Why is it needed?

We run Strapi in Google Cloud Run, these scale to zero so now sometimes when we retrieve the sitemap it does not exist, creating one on boot would solve this.

### Suggested solution(s)

When the server boots to also create an sitemap.

### Related issue(s)/PR(s)

#84

[2022-08-01 14:31] boazpoolman commented on #92
Hmmm, interesting feature request.
You could actually do this yourself aswell.

Just put this code in your bootstrap function:

[code]

[2022-08-01 14:32] TriPSs commented on #92
Aah, I did not know that, created an API now that generates it if the file does not exist.

[2022-08-01 14:33] boazpoolman commented on #92
See the docs here: https://docs.strapi.io/developer-docs/latest/developer-resources/plugin-api-reference/admin-panel.html#bootstrap

[2022-08-01 14:38] TriPSs commented on #92
Thanks! Then this ticket can be closed as this would do exactly what I need.

[2022-08-01 14:39] boazpoolman commented on #92
Great :)
Do let me know if it works out for you.
If not I might add this as a feature

[2022-08-01 14:43] TriPSs commented on #92
Currently have this:
[code]

But it does not work, I think this is because it's ran on the client side when going to the admin panel.

[2022-08-01 14:46] boazpoolman commented on #92
You are right. Pardon me. My bad. There is documentation about the server bootstrap phase.
Right here: https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/configurations/optional/functions.html#bootstrap

[2022-08-01 14:48] TriPSs commented on #92
Yes that seems to work 🎉

My file now:
[code]

[2022-08-01 14:48] #92 closed

[2022-08-08 00:08] SalahAdDin opened #93 "[BUG] Error with Strapi 4.3.2"
## Bug report

### Describe the bug
Somehow, when trying to get into the Sitemap view we are getting this problem:
[code]

This altogether

### Steps to reproduce the behavior

1. Go Sitemap.
2. Go to the container logs(either in terminal or docker desktop).
3. Scroll down to find the error.
4. See an error

### Expected behavior

We should not get any error in both the **docker logs** and the web

[2022-08-08 07:58] boazpoolman commented on #93
Hmm that's odd.
It is trying to generate the sitemap, though not all the required settings are set.
And it's mostly odd that it does this without you clicking on the generate sitemap button.

I'll try to look in to this and reproduce the issue.

Did I see correctly you are using typescript for this v4.3 project?

[2022-08-08 13:11] SalahAdDin commented on #93
Exactly, I'm working with **Typescript.**

[2022-09-01 11:57] quiloos39 commented on #86
Any updates on this?

[2022-09-01 12:04] boazpoolman commented on #86
The feature is in beta. You can install it like this:

yarn add strapi-plugin-sitemap@beta
or
npm install strapi-plugin-sitemap@beta

[2022-09-06 06:17] SalahAdDin commented on #93
Actually, no:
[code]

[2022-09-06 19:32] boazpoolman commented on #93
Ah allright. So you do have cron setup to generate the sitemap.
Though you have not set the hostname yet. Then indeed it will give an error.

Please go through the settings form before trying to generate the sitemap.

[2022-09-07 09:20] SalahAdDin commented on #93
can be set `localhost` by default for development?

[2022-09-14 15:24] marcin-piechaczek commented on #93
I have a similar problem trying to generate a sitemap for 40k pages, is there a way to undo all changes on the database? Now my strapi is working extremely slow.

[2022-09-15 17:54] boazpoolman commented on #93
It could. But then again you would need to set custom URLs or URL bundles to even have it make sense to generate the sitemap. So I don't see a reason to have a default hostname.

[2022-10-06 01:09] dimasxp opened #95 "beta version generates sitemap each get request to strapi"
## Bug report

### Describe the bug
generates sitemap file each get request to strapi. this is bug ? or how to switch off it? thanks
I'm using beta version.

### Screenshots
![CleanShot 2022-10-06 at 04 04 14@2x](https://user-images.githubusercontent.com/7904186/194191308-b91d3e4a-978a-49b6-a711-32b0601ef552.jpg)

### System

- Node.js version:  Node LTS
- Strapi version:4.4.3

[2022-10-06 06:47] boazpoolman commented on #95
That doesn’t seem right. Let me see if I can reproduce the issue

[2022-10-06 10:23] dimasxp commented on #95
oh, seems I understood the problem, in my findOne I get some data from an external API and automatically update the found entity. basically after each update sitemap is re-generated?

[2022-10-18 08:01] multipliedtwice opened #96 "JSON output support"
## Feature request

### Summary

Hello, thank you for an amazing plugin. I have a question - is there any way to get JSON output without XML?

### Why is it needed?

Because the frontend side has a different domain name and few frontend-specific routes, such as `/terms`, `privacy`, `sign in`, etc

### Suggested solution(s)

JSON output with pagination support for split-sitemaps

[2022-10-24 11:28] AliKdhim87 opened #97 "The `/sitemap/xsl/sitemap.xsl` file is Not Found when I try to reach my sitemap `http://localhost:1337/sitemap/index.xml`"
## Bug report

### Describe the bug

The problem is when I try to reach my sitemap through this URL http://localhost:1337/sitemap/index.xml, I got nothing rendered in the browser, and when I check the chrome dev tool network I got this error

[code]

### Screenshots
![Screenshot 2022-10-24 at 12 50 49](https://user-images.githubusercontent.com/53454241/197514175-a74aafd8-2c73-4471-890a-93619a69800

[2022-10-26 13:05] pranavks commented on #97
+1

[2022-10-27 09:37] boazpoolman commented on #97
Seems like a bug. I'll do some investigation asap.

[2022-10-27 09:38] boazpoolman commented on #96
Hey @thousandsofraccoons,

Thanks for the feature request.
Seems like a good suggestion.
I don't have the time to implement this feature just yet but I'll leave it open for in the future.

[2022-10-27 15:20] kwiat1990 opened #98 "[Question] Single collection type"
Hey, I use version `2.0.8` of this package and I wonder if there is a way to add a single collection type under URL bundles? For example, right know I can't add something like "about", which is a single page/single collection type, with the URL `/about`.

The only solution seems to add it under "custom URLs" or am I missing something?

[2022-10-28 15:27] michaelroth-xx opened #99 "Allow query params"
Right now it is not possible to create a sitemap entry with query params. The input field simply permits typing in a questionmark. e.g.:

- some-overview?page=2
- /?location=[id]

Is there any reason for this? Or any workaround?

Thank you!

[2022-11-01 13:42] timnolte commented on #66
Seems like this should just be the default when adding URL Bundles, essentially WordPress does this same sort of thing by default for every custom post type. There is nothing wrong with having the system automatically create a sitemap for each bundle with the main sitemap being the index.

[2022-11-09 12:21] thibaultcarlier commented on #86
Thank for this feature !

We can't do the same with a component relation ?

[2022-11-21 18:17] ArtKuz commented on #97
+1

[2022-11-30 19:18] marcospassos opened #101 "Default locale"
## Bug report

First of all, this plugin is amazing. Thank you for working on this!

### Describe the bug

The current behavior is kind of random - the content type sometimes appears in a locale as default and other times with another. That affects how the pages are ranked.

### Steps to reproduce the behavior

1. Install the plugin
2. Add multiple contents with multiple locales
3. Open the sitema

[2022-11-30 21:35] marcospassos commented on #101
By random, I mean the default URL is decided randomly, not that it changes randomly (e.g., when I refresh the page). Looking at the source code I noticed that the expected behavior isn't explicitly specified:

https://github.com/boazpoolman/strapi-plugin-sitemap/blob/f76085e49f6a5e36e0fcf322267f9e1c6feaddbc/server/services/core.js#L22-L81

More specifically, the `getSitemapPageData` doesn't seem t